body {
  background-color: #EE3F54;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Bree Serif', serif;
}

#social-container {
  background: #1c3643;
}

#logo-container .callout {
  margin-bottom: 0;
  background: #EE3F54;
  color: #fff;
}

#menu-container{
	background: #48a19e;
}

#menu-container li a{
	color: #fff;
	font-family: 'Bree Serif', serif;
}

#menu-container li a:hover{
	color: #f6e15f;
}

#submenu-container{
	border: 0;
	background: #48a19e;
}

#tickets-action .callout{
	background: #5e7eb7;
	color: #fff;
	margin-bottom: 0;
}

#tickets-action .callout button{
	border: 1px solid #fff;
	color: #fff;
}
#lineup-container{
	padding: 1em 0;
}
#lineup-container,
#lineup-tabs,
#lineup-container .tabs-panel,
#lineup-tabs .tabs-title.is-active a{
	background: #9676af;
	border: 0;	
	text-transform: uppercase;
	font-family: 'Bree Serif', serif;
}
.tabs-content{
	border: 0;
	color: #fff;
}
#lineup-tabs a{
	color: #a7fffb;
}
#lineup-tabs a:hover,
#lineup-tabs .tabs-title.is-active a{
	color: #fff;
	background: none;
}
.tabs-title {
  display: inline-block;
  float: none;
}

.orbit-container{
	margin-bottom: 1em;
    height: auto !important;
}
#lineup-container .column:nth-child(odd) figcaption{
	text-align: right;
}